@charset "UTF-8";

header{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    background-color: var(--destaque);
    color: var(--texto);
    padding: 10px;
}



ul{
   display: flex;
   gap: 10px;
   list-style: none;
}
a{ 
    text-decoration: none;
    color: var(--texto-inverso);
    font-weight: 700;
    padding: 12px 15px;
    border-radius: 5px;

    cursor: pointer;
    transition: background-color 0.5s, color 0.5s ;
}
a:active{
    text-decoration: underline;
    background-color: var(--destaque-inverso);
    color: var(--destaque);
}