@charset "UTF-8";

header{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    background-color: var(--destaque);
    color: var(--texto);
    padding: 10px;

    position: sticky;
    top: 0;
    z-index: 1;
}



ul{
   display: flex;
   gap: 10px;
   list-style: none;
}
a{ 
    text-decoration: none;
    color: var(--texto-inverso);
    font-weight: 700;
    padding: 12px 15px;
    border-radius: 5px;

    
   
}

a:hover{
    cursor: pointer;
    text-decoration: underline;
    background-color: var(--destaque-inverso2);
    
    
    
}
a, .link{
    transition: background-color 0.8s, color 0.8s ;

}
.link:hover{
    cursor: pointer;
    background-color: var(--fundo-principal);
    color: var(--destaque);
}