@charset "UTF-8";

#projetos{
    background-color: var(--fundo-card);
    padding: 10px;

    margin-top: 10px;
}

#project-content{
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
}
.foto-projeto{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
    transform: translateY(40px);
    animation: aparecer 1.5s ease forwards;
}
.projeto{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;

    background-color: var(--fundo-principal);
    padding: 10px;
    border-radius: 8px;
    border-left: 5px solid var(--destaque-inverso);
    transition: border-color 0.5s, border-width 0.5s;

    
}
.titulo-line{
    padding: 5px;

}
.infor{
   display: flex;
   flex-direction: column;
}
.projeto:hover{
    cursor: pointer;
    border-color: var(--destaque);
    border-left-width: 15px;

}
 details{
    color: var(--destaque);
    text-align: center;
    
 }
 details[open]{
    color: var(--destaque-inverso);
    
    padding: 4px;
    transition: transform 0.3s ease;
 }
 details[open]:hover{
    transform: scale(1.01);
 }