@charset "UTF-8";

@import url("header.css");
@import url("cards.css");
@import url("footer.css");
@import url("ficha.css");
@import url("social.css");
@import url("skills.css");
@import url("projetos.css");
@import url("responsividade.css");

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --fundo-principal: #faf8f4 ;
  --texto: #000000  ;
  --texto-inverso: #ffffff  ;
  --destaque: #01258F  ;
  --destaque-inverso: #023BE6  ;
  --fundo-card: #ffffff ;

}

body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
  width: 100%;
  height: 100%;

  background-color: var(--fundo-principal);
  color:  var(--texto);
}

main{
  display: grid;
  grid-template-columns: 1fr 90vw 1fr;
  gap: 13px;

  margin-top: 10px;
  
}
#ficha{
    background-color: var(--fundo-card);
    padding: 10px;
    border-radius: 7px;
    grid-column: 2;
}

#detalhes{
  grid-column: 2;
}
h2,p{
  animation: entrar 2s ease-out forwards;
}

@keyframes entrar{
  from{
    transform: translateX(-200px);
  }
  to{
    transform: translateX(0);
  }
}

h1{
  color: var(--destaque);
  font-size: 1.6em;
  text-shadow: 0px 0px 3px #023be669;
  margin: 15px 0px;
  text-align: center;
  
  opacity: 0;
  transform: translateY(30px) ;
  animation: aparecer 2s ease-out forwards;
  
}

@keyframes aparecer {
  to{
    opacity: 1;
    transform: translateY(0);
  }
}


h2{
  color: var(--destaque);
  font-size: 1.4em;
  text-shadow: 0px 0px 2px #023be669 ;
  margin-bottom: 10px;
}



p{
  text-indent: 4px;
  text-align: center;
}



